.root{
    position: relative;
    padding: 1em;
}

.logo{
    position: fixed;
    display: grid;
    place-items: center;
    width: 90px;
    height: 90px;
    overflow: visible;

    top: 1.35em;
    left: calc(50% - 400px + 28);
    isolation: isolate;
}

.logo > svg{
    height: 100%;
    transform: translateX(-.125em);
}

.logo::after{
    content: '';
    display: block;
    position: absolute;
    inset: -14%;
    /* background: var(--primary); */
    background: transparent;
    border-radius: 50%;
    z-index: -1;
}

.title{
    text-align: center;
    font-size: 5.45em;
    font-weight: 500;
    font-family: var(--font-manufacturing-consent);
    color: var(--primary);
}

@media (max-width: 800px){
    .root{
        display: grid;
        grid-template-columns: 4em 1fr 4em;
        grid-template-rows: min-content;
        justify-items: center;
        align-items: center;
    }

    .logo{
        position: static;
        left: 1em;
        width: 4em;
        height: 4em;
    }

    .title{
        font-size: 4em;
    }
    
}

@media (max-width: 800px){
    .logo > svg{
        transform: translateX(-1px);
    }
    
}
